<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hawker Licensing System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <header>
        <h1>Hawker Licensing System</h1>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <p>&copy; 2025 Luqman, Law, Long, Danysh</p>
    </footer>
</body>
</html>