{% if user == "Hawker" %}
<h2>Hawker Login</h2>
{% elif user == "DataAdmin" %}
<h2>Data Admin Login</h2>
{% elif user == "Inspector" %}
<h2>Inspector Login</h2>
{% elif user == "Manager" %}
<h2>Manager Login</h2>
{% endif %}

<form id="loginForm" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <button type="submit" class="login-button">Login</button>
    <input type="hidden" name="userType" id="userType" value="{{ user }}">
</form>

<div id="loginResponse"></div>

<!-- Link JavaScript (Optional if you need client-side logic) -->
<script src="script.js"></script>
