<h2>Register</h2>
<form id="registerForm" action="{% url 'register' %}" method="post" onsubmit="register(event, this)">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Username" required>                
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Password" required> 
    <label for="password">Password:</label>
    <input type="password" id="rePassword" name="rePassword" placeholder="Re-enter Password" required>                  
    <div style="margin-top: 20px;">
        <input type="checkbox" id="termsAndCondition" name="termsAndCondition" value="Agree" required>
        <label for="termsAndCondition"> Agree to Terms and Conditions </label>
    </div>
    <button type="submit" class="continue-button">Continue</button>
</form>

<div id="registerResponse"></div>

<!-- Link JavaScript -->
<script src="script.js"></script>