{% extends "base.html" %}
{% block content %}   
<div class="dashBoard">
    <h2 style="text-align: center; text-decoration: underline; font-weight: bold;">
        Hawker License
    </h2>
    <div class="listBox" style="overflow-y:scroll;">
        <table>
            <tr>
                <th>License ID</th>
                <th>Owner</th>
                <th>View</th>
            </tr>
            {% for license in licenseList %}
                <tr>
                    <td>{{ license.id }}</td>
                    <td>{{ license.owner }}</td>
                    <td><a href="{% url 'licensePage' license.id %}">View page</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}